pydantic-settings
sqlalchemy[asyncio]
psycopg[binary]
pgvector
langchain-community
langchain-huggingface
langchain-openai
langchain-google-genai
opik
sentence-transformers

pymupdf
python-dotenv
tenacity
structlog
pytest
pytest-asyncio
pytest-env
greenlet # often needed for sqlalchemy async

fastapi
uvicorn[standard]
fastmcp

tenacity
dbos # durable workflow engine