pydantic-settings
sqlalchemy[asyncio]
psycopg[binary]
pgvector
langchain-community
langchain-huggingface
langchain-openai
langchain-google-genai
opik
sentence-transformers

pymupdf
python-dotenv
tenacity
structlog
pytest
pytest-asyncio
greenlet # often needed for sqlalchemy async

